<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <%= render 'users/follow_form' if logged_in? %>
  </aside>
  <div class="col-md-8">
    <div id="micropost-content">
      <h3>Micropost content</h3>
      <p><%= @micropost.content %></p>
    </div>
    <div id="comments">
      <h4>Comments (<%= @micropost.comments.count %>)</h4>
      <%= render 'shared/comment_form' if logged_in? %>
      <% if @comments.any? %>
        <ol class="comments">
          <%= render @comments %>
        </ol>
        <%= will_paginate @comments %>
      <% end %>
    </div>
  </div>
</div>
